{% extends "base.html.twig" %}

{% block title %}Inscription{% endblock %}

{% block body %}
<h1>Inscription</h1>
<main class="row">
    <div class="offset-2 col-4">
        <h2 class="h3 mb-3 font-weight-normal">Créer un compte membre</h2>
        {{form_start(formInscription)}}
        {{form_end(formInscription)}}
    </div>
    <div class="col-4">
        <h2 class="h3 mb-3 font-weight-normal">Login</h2>
         {{form_start(formLogin)}}
        {{form_end(formLogin)}}
    </div>
</main>
{% endblock %}